<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
        <mat-form-field appearance="outline" class="w-100 game-name">
            <input matInput type="text" [(ngModel)]="gameName">
        </mat-form-field>
    </mat-card-header>
    <mat-card-content class="b-t-1">
        <div class="row">
            <div class="col-lg-7">
                <div class="row">
                    <div style="font-weight: bold;">Player 1</div>
                    <div style="margin-left: 10px;"><span id="timer1"></span></div>
                </div>
                <div class="row">
                    <table class="chess-board">
                        <tbody>
                            <tr>
                                <th></th>
                                <th>a</th>
                                <th>b</th>
                                <th>c</th>
                                <th>d</th>
                                <th>e</th>
                                <th>f</th>
                                <th>g</th>
                                <th>h</th>
                            </tr>
                            <tr *ngFor="let rank of ranks">
                                <th>{{ rank }}</th>
                                <td *ngFor="let item of positions[convertToNumber(rank)]" data-id="td-{{item.square}}"
                                    (click)="clickBoard(item)" class="{{item.color == 'B' ? 'light' : 'dark' }}">
                                    <img *ngIf="item.piece" src="./assets/images/pieces/{{item.piece}}.png" height="100%">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div>Player 2</div>
                    <div><span id="timer2"></span></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div *ngIf="!game">
                    <mat-label class="f-w-600 m-b-8 d-block">Time selector</mat-label>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-select [(value)]="selectedFormat">
                            @for(option of formats; track option.value) {
                            <mat-option [value]="option.value">{{
                                option.viewValue
                                }}
                            </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    <div>
                        @switch(selectedFormat)
                        {
                            @case('bullet') {
                                <button mat-flat-button (click)="selectTime($event, '0h1m', '')" class="bg-success">1 mins</button> | <button mat-flat-button (click)="selectTime($event, '0h1m', '0h1m')" class="bg-success">1|1 mins</button> | <button mat-flat-button (click)="selectTime($event, '0h2m', '0h1m')" class="bg-success">2|1 mins</button>
                            }
                            @case('blitz') {
                                <button mat-flat-button (click)="selectTime($event, '0h3m', '')" class="bg-success">3 mins</button> | <button mat-flat-button (click)="selectTime($event, '0h3m', '0h2m')" class="bg-success">3|2 mins</button> | <button mat-flat-button (click)="selectTime($event, '0h5m', '')" class="bg-success">5 mins</button>
                            }
                            @case('rapid') {
                                <button mat-flat-button (click)="selectTime($event, '0h10m', '')" class="bg-success">10 mins</button> | <button mat-flat-button (click)="selectTime($event, '0h15m', '0h10m')" class="bg-success">15|10 mins</button> | <button mat-flat-button (click)="selectTime($event, '0h30m', '')" class="bg-success">30 mins</button>
                            }
                        }
                    </div>
                    <div class="m-t-12">
                        <button mat-flat-button color="primary" (click)="startGame()" class="m-r-8">Play</button>
                    </div>
                </div>
                <div ng-show="!!game">
                    <!-- ToDo: timer component -->
                    <!-- <div class="wrapper">
                        <div class="description">
                            <p>Minutes</p>
                            <p>Seconds</p>
                        </div>
                        <div class="times">
                            <p #minutes></p>
                            <p #seconds></p>
                        </div>
                    </div> -->
                    <h2>Game history</h2>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>