<mat-card class="cardWithShadow theme-card">
    <mat-card-header *ngIf="game">
        <mat-form-field appearance="outline" class="w-100 game-name">
            <input matInput type="text" [(ngModel)]="game.name">
        </mat-form-field>
    </mat-card-header>
    <mat-card-content class="b-t-1">
        <div class="row">
            <div class="col-lg-7">
                <div class="row player-indicator" [class.active]="game.turn.value === 'W'" *ngIf="game">
                    <div style="font-weight: bold;">Player 1 (White)</div>
                    <div style="margin-left: 10px;"><span id="timer1"></span></div>
                    <div *ngIf="game.turn.value === 'W'" class="turn-badge">YOUR TURN</div>
                </div>
                <div class="row" *ngIf="game">
                    <div class="board-grid">
                        <ng-container *ngFor="let item of game.board.flatBoard">
                            <!-- Header (Rank or File) -->
                            <div *ngIf="item.isHeader" class="header-cell">
                                {{ item.headerLabel }}
                            </div>

                            <!-- Square -->
                            <div *ngIf="!item.isHeader" (click)="clickBoard(item)" class="square"
                                [class.dark]="item.color === 'B'" [class.light]="item.color === 'W'"
                                [class.selected]="item.selected">
                                <img *ngIf="item.piece" src="./assets/images/pieces/{{item.piece.abbreviation}}.png">
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="row player-indicator" [class.active]="game.turn.value === 'B'" *ngIf="game">
                    <div style="font-weight: bold;">Player 2 (Black)</div>
                    <div style="margin-left: 10px;"><span id="timer2"></span></div>
                    <div *ngIf="game.turn.value === 'B'" class="turn-badge">YOUR TURN</div>
                </div>
            </div>
            <div class="col-lg-4">
                <div *ngIf="!gameInitialized()">
                    <mat-label class="f-w-600 m-b-8 d-block">Time selector</mat-label>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-select [(value)]="selectedFormat">
                            @for(option of formats; track option.value) {
                            <mat-option [value]="option.value">{{
                                option.viewValue
                                }}
                            </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    <div>
                        @for(option of currentTimeOptions; track option.type) {
                        <button mat-flat-button (click)="selectTime(option)"
                            [class.selected]="selectedTimeOption === option" class="bg-success">
                            {{ option.label }}
                        </button>
                        <span *ngIf="!$last"> | </span>
                        }
                    </div>
                    <div class="m-t-12">
                        <button mat-flat-button color="primary" (click)="startGame()" class="m-r-8">Play</button>
                    </div>
                </div>
                <div *ngIf="game">
                    <h2>Game history</h2>
                    <ul class="history">
                        <li class="history-item" *ngFor="let entry of game.history">
                            <img src="./assets/images/pieces/{{entry.piece.abbreviation}}.png">
                            <span>{{entry.square}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>